<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>CRUD Operations</display-name>
  <servlet>
    <servlet-name>CRUDServlet</servlet-name>
    <servlet-class>com.example.CRUDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRUDServlet</servlet-name>
    <url-pattern>/crud-operations/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRUDServlet1</display-name>
    <servlet-name>CRUDServlet1</servlet-name>
    <servlet-class>servlet.CRUDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRUDServlet1</servlet-name>
    <url-pattern>/CRUDServlet1</url-pattern>
  </servlet-mapping>
</web-app>